<div>
    The provider of ThemeState is: CascadingThemeState.razor
</div>
<CascadingValue Value="new ThemeState()">
    @ChildContent
</CascadingValue>
@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
}