<div>ThemableButton.razor</div>
<button @onclick=OnClick class=@(Theme.IsDarkMode ? "dark-btn" : "light-btn")>CLICK ME</button>
@code {
    [CascadingParameter] public ThemeState Theme { get; set; }

    public void OnClick()
    {
        Theme.IsDarkMode = !Theme.IsDarkMode;
    }
}