@page "/counterdark"

<h1>Dark Counter</h1>
<Wrapper IsDark="true">
    <CounterDark Start="5"></CounterDark>
</Wrapper>

<h1>Normal Counter</h1>
<Wrapper IsDark="false">
    <CounterDark Start="7"></CounterDark>
</Wrapper>